<html>
  <head>
    <title>
      ------bNlank------
    </title>
  </head>
  <body>
  <p>
  <mat-toolbar class="tool">
   <a  ><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="menu">
    <mat-icon >menu</mat-icon>
  </button></a>
  <span class="example-icon">My App</span>
  <span class="example-spacer"></span>
  <a><button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="sign-in">
    <mat-icon >account_circle</mat-icon>
  </button></a>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
</p>
  
</body>
</html>